{% extends 'main/base.html' %}
{% load store_tags %}

{% block content %}
<h3>Создал следующее приложение, отвечающее требования тестового задания.
Как можно видеть, я использовал на данной странице 2 своих template tag'a.
для отправления на необходимый url используется функция get_url models, возвращающая
абсолютный url к странице с продуктами данной под-под-категории (3 уровень)
. На данной странице происходит 2 запроса для 2-х разных меню категорий и 2 стан
дартных джанго запроса. Во всех других местах используется 1 запрос к бд.

</h3>

{% draw_menu 'Phones' %}
{% draw_menu 'Autotransport' %}




{% endblock %}